/* popup.css */

.preview-popup {
    align-items: center;
    box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 94, 94, 0.7); /* YouTube dark theme color */
    border: none;
    border-radius: 8px;
    color: white;
    display: flex;
    flex-direction: column;
    height: 80%;
    margin: 0 auto;
    padding: 8px;
    position: fixed;
    right: 80px;
    transform: translateY(-50%);
    top: 50%;
    width: 35%;
    z-index: 99999; /* Ensure it's above other page elements */
}

.popup-header{
    color:white;
    font-size: 1.2em;
    margin-bottom: 5px;
    text-wrap: wrap;
    width: 100%;
}

#popFrame {
    border: none;
    width: 100%; /* Adjust as needed */
    height: 100%; /* 16:9 aspect ratio for width 420px */
    background-color: white;
}

.popup-buttons {
    position: absolute; /* Floating buttons */
    right: 20px; /* Align to the right */
    top: 10%; /* Align from the top */
    display: flex;
    flex-direction: column;
    gap: 8px; /* Space between buttons */
    padding: 5px;
}

.popup-buttons button {
    opacity: 0.3;
    border-radius: 50%; /* Make them circular */
    font-size: 16px;
    cursor: pointer;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
    padding: 1px 6px!important;
    margin-bottom: 0px!important;
    width: 2.5em !important;
    height: 2.5em !important;
    border: 0.25em solid rgba(0, 229, 229, 0.3)!important;
    background-color: rgba(0, 178, 178, 0.2)!important;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

.popup-buttons button:hover {
    opacity: 0.9;
    transform: scale(1.5);
}

.popup-buttons button:active {
    transform: scale(1.2);
}

#copyUrlBtn, #embedBtn { fill:rgba(255,255,255,0.9);}
#closePopupBtn { fill: rgba(255,0,0,0.9); }

footer{
    display: none!important;
}
